body{
	font-family: Roboto !important;
	font-size: 20px !important;
	line-height: 1.5;
	background-color: rgb(239, 243, 246);
}

input[type=text], input[type=password]{
	border: 2px solid white;
	border-radius: 20px;
	background-color: transparent;
	box-sizing: border-box;
	min-width: 250px;
	min-height: 30px;
	padding: 5px 10px;
	color: white;
	font-size: 16px;
	margin-bottom: 15px;
}

input[type=submit]{
	background-color: #0039A9;
	border: none;
	color: white;
	border-radius: 20px;
	min-width: 250px;
	min-height: 30px;
	box-sizing: border-box;
	padding: 9px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	transition-duration: .5s;
	margin-top: 10px;
}

input[type=submit]:hover{
	background-color: #0f4cc4;
	transition-duration: .3s;
	cursor: pointer;
}

input[type=text]:hover, input[type=password]:hover{
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.54);
}

input[type=text]:focus, input[type=password]:focus{
	outline: none;
	background: rgba(255, 255, 255, 0.2); 
	transition-duration: .3s;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.54);
}

input[type=text]:not(focus), input[type=password]:not(focus){
	transition-duration: .5s;
	box-shadow: none;
}

body{
	margin: 0;
}

p{
	line-height: 1;
}

body#login {
	background: url("../Asset/Image/adminLoginBG.jpg");
	background-size: cover;
	display: flex;
}

div#loginLeft{
	flex: .7;
}

div#loginLeft img{
	padding: 5px 0 0 5px;
}

div#loginOuter{
	flex: .3;
  	background-color: #77A6F7;
  	min-width: 350px;
	height: 100vh;
	box-shadow: -10px 0px 5px rgba(0, 0, 0, 0.45);
	opacity: .95;
	display: flex;
	align-items: center;
  	justify-content: center;
}

div#loginInner{
	color: white;
}

div#loginInner h3{
	text-align: center;
	color: white; 
	margin: 0 0 -10px 0;
	font-size: 28px;
}

div#loginInner p{
	font-size: 24px;
	padding-bottom: 5px;
	border-bottom: 3px solid #D3E3FC;
}

div#headerUser{
	width: 100%;
	height: 50px;
	background-color: #77a6f7;
	display: flex;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

div#headerUser #flexLeft{
	flex: 0.1;
}

div#headerUser #flexMiddle{
	flex: .7;
	display: flex;
	align-items: center;
  	justify-content: center;
  	text-align: center;
  	margin: auto;
  	color: white;
  	font-style: bold;
}

div#headerUser #flexMiddle form{
	margin-top: 8px;
	width: 100%;
}

div#headerUser #flexMiddle form input[type=text]{
	width: 70%;
	min-width: 100px;
	height: 35px;
	padding: 12px 10px;
	margin-left: 15%;
	box-sizing: border-box;
	border-radius: 5px;
}

div#headerUser #flexMiddle form input[type=image]{
	transform: translate(0px, 5px);
	margin-left: -40px;
}

div#headerUser #flexRight1{
	display: flex;
	align-items: center;
  	justify-content: center;
	flex: 0.25;
	font-size: 16px;
}

div#headerUser #flexRight1 img{
	padding-right: 10px;
}

div#headerUser #flexRight1 p, a{
	color: white;
	text-decoration: none;
	transition-duration: .2s;
}

div#headerUser #flexRight1 a:hover{
	filter: brightness(.95);
	transition-duration: .2s;
}

div#headerUser #flexRight2{
	display: flex;
	font-size: 16px;
	align-items: center;
  	justify-content: center;
	flex: 0.25;
	background-color: skyblue;
	transition-duration: .2s;
}

div#headerUser #flexRight2 a{
	text-decoration: none;
}

div#headerUser #flexRight2 p{
	color:white;
	padding-left: 10px;
}

div#headerUser #flexRight2:hover{
	filter: brightness(1.05);
	transition-duration: .2s;
}

div#headerUser #flexRight img{
	margin-right: 25px;
	cursor: pointer;
}

div#headerUser #flexRight img:hover{
	opacity: .8;
}

div#header{
	width: 100%;
	height: 50px;
	background-color: #2e4f84;
	display: flex;
	position: fixed;
}

div#header #flexLeft{
	flex: 0.15;
}

div#header #flexMiddle{
	display: flex;
	align-items: center;
  	justify-content: center;
  	text-align: center;
  	margin: auto;
  	color: white;
  	font-style: bold;
}

div#header #flexRight{
	display: flex;
	align-items: center;
  	justify-content: center;
	flex: 0.15;
}

div#header #flexRight img{
	margin-right: 25px;
	cursor: pointer;
}

div#header #flexRight img:hover{
	opacity: .8;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa





*/

div#userSidebar a{
	padding-left: 0;
	color: black;
	font-size: 14px;
  	width: 100%;
  	text-align: center;
}

div#userSidebar p{
	line-height: .1;
	font-size: 18px;
}

div#userSidebar div#genderSidebar{

}

div#userSidebar div#genderSidebar p{
	padding-left: 15px;
}

div#userSidebar div#genderSidebar div#genderFlex{
	display: flex;
}

div#userSidebar div#genderSidebar div#gender1{
	display: flex;
	align-items: center;
  	justify-content: center;
	flex: .5;
	box-sizing: border-box;
	margin: 0px 7px;
	transition-duration: .2s;
	border-radius: 15px;
}

div#userSidebar div#genderSidebar div#gender1:hover{
	border: 1px solid lightgrey;
	transition-duration: .2s;
}

div#userSidebar div#genderSidebar div#gender2{
	display: flex;
	align-items: center;
  	justify-content: center;
	flex: .5;
	border: 1px solid #77a6f7;
	box-sizing: border-box;
	margin: 0px 7px;
	transition-duration: .2s;
	border-radius: 15px;
}

div#userSidebar div#genderSidebar div#gender2:hover{
	border: 1px solid lightgrey;
	transition-duration: .2s;
}

div#userSidebar div#collSidebar{
	padding-left: 15px;
}

div#userSidebar div#clothSidebar{
	padding-left: 15px;
}

div#sideBar{
	height: 100%;
	width: 200px;
  	min-width: 100px;
  	position: fixed;
  	top: 50px;
  	background-color: rgba(65,69,80,1);
  	padding-top: 20px;	
}

div#sideBar a, .collapse-btn {
  	font-size: 18px;
  	padding: 6px 8px 6px 16px;
  	line-height: 2;
  	margin: 0;
  	text-decoration: none;
  	color: white;
  	display: block;
  	border: none;
  	background: none;
  	text-align: left;
  	cursor: pointer;
  	outline: none;
  	transition-duration: .5s;
}

.focusBar{
	background-color: rgba(255, 255, 255, 0.1);
}

div#sideBar a:hover, .collapse-btn:hover{
	text-shadow: 0px 0px 5px rgba(255, 255, 255, .5);
  	transition-duration: .2s;
}

div#sideBar button{
	width: 200px;
  	min-width: 100px;
}

div#sideBar button img{
	float: right;
	padding-top: 12px;
	padding-right: 10px;
}

.collapse-item{
  	display: none;
  	background-color: #262626;
  	padding-left: 8px;
}

.notiBox{
	display: none;
	width: 400px;
	height: 500px;
	background-color: #FFFFFF;
	position: fixed;
	top: 50px;
	right: 0;
	overflow-y: scroll;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	font-size: 16px;
}

.notiBox a{
	color: black;
	height: 80px;
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
	background-color: white;
	padding-left: 15px;
	display: flex;
	align-items: center;
	text-decoration: none;
	outline: none;
}

.notiBox a:hover{
	background-color: #f7f7f7;
}

.notiBox .title{
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	height: 40px;
	padding-left: 15px;
}

div#userSidebar{
  	position: fixed;
  	top: 50px;
  	background-color: white;
  	margin-top: 30px;
  	margin-left: 3%;	
  	padding: 10px;
  	box-sizing: border-box;
  	width: 15%;
  	min-width: 120px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
	border-radius: 5px;
}

div#sorting{
	width: 77%;
	min-width: 200px;
	height: 100px;
	position: relative;
	left: 20%;
	top: 80px;
	background-color: lightgrey;
	margin-bottom: 20px;
}

div#clothing{
	width: 77%;
	min-width: 200px;
	position: relative;
	left: 20%;
	top: 80px;
	/*border: 1px solid red;*/
}

div#clothing div.itemOuter{
	display: flex;
	margin-bottom: 20px;
}

div#clothing div.itemMiddle{
	height: 320px;
	/*border: 1px solid black;*/
	flex: .25;
	display: flex;
	align-items: center;
  	justify-content: center;
}

div#clothing div.itemInner{
  	width: 90%;
  	height: 100%;
  	border: 1px solid #ededed;
  	background-color: white;
	border-radius: 5px;
	box-sizing: border-box;
	transition-duration: .2s;
}

div#clothing div.itemInner:hover{
	border: 1px solid #3b8beb;
	transition-duration: .2s;
}

div#clothing div.itemInner img.image{
	border-radius: 5px 5px 0 0;
}

div#clothing div.itemInner p.price{
	line-height: .6;
	padding: 0 10px;
	color: #b23850;
	font-weight: bold;
	font-size: 16px;
}

div#clothing div.itemInner p.desp{
	font-size: 14px;
	padding: 0 10px;
	color: grey;
}