body{
	font-family: 'Raleway', sans-serif;
	font-size: 20px !important;
	line-height: 1.5;
	background-color: rgba(0, 0, 0, .1);
}

body#userBody{
	font-family: 'Raleway', sans-serif;
	font-size: 20px !important;
	line-height: 1.5;
	background-color: white;
}

input[type=email], input[type=password]{
	border: 2px solid white;
	border-radius: 20px;
	background-color: transparent;
	box-sizing: border-box;
	min-width: 250px;
	min-height: 30px;
	padding: 5px 10px;
	color: white;
	font-size: 16px;
	margin-bottom: 15px;
}

input[type=submit]{
	background-color: #0039A9;
	border: none;
	color: white;
	border-radius: 20px;
	min-width: 250px;
	min-height: 30px;
	box-sizing: border-box;
	padding: 9px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	transition-duration: .5s;
	margin-top: 10px;
}

input[type=submit]:hover{
	background-color: #0f4cc4;
	transition-duration: .3s;
	cursor: pointer;
}

input[type=text]:hover, input[type=password]:hover{
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.54);
}

input[type=text]:focus, input[type=password]:focus{
	outline: none;
	background: rgba(255, 255, 255, 0.2); 
	transition-duration: .3s;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.54);
}

input[type=text]:not(focus), input[type=password]:not(focus){
	transition-duration: .5s;
	box-shadow: none;
}

body{
	margin: 0;
}

p{
	line-height: 1;
}

body#login {
	background: url("../Asset/Image/adminLoginBG.jpg");
	background-size: cover;
	display: flex;
}

div#loginLeft{
	flex: .7;
}

div#loginLeft img{
	padding: 5px 0 0 5px;
}

div#loginOuter{
	flex: .3;
  	background-color: #77A6F7;
  	min-width: 350px;
	height: 100vh;
	box-shadow: -10px 0px 5px rgba(0, 0, 0, 0.45);
	opacity: .95;
	display: flex;
	align-items: center;
  	justify-content: center;
}

div#loginInner{
	color: white;
}

div#loginInner h3{
	text-align: center;
	color: white; 
	margin: 0 0 -10px 0;
	font-size: 28px;
}

div#loginInner p{
	font-size: 24px;
	padding-bottom: 5px;
	border-bottom: 3px solid #D3E3FC;
}

div#headerUserTopNav{
	width: 100%;
	height: 30px;
	background-color: #f5f5f5;
	display: flex;
	position: fixed;
	z-index: 1;
	color: #535151;
}

div#headerUserTopNav div#topNavLeft{
	display: flex;
	flex: .6;
}

div#headerUserTopNav div#topNavRight{
	display: flex;
	flex: .4;
	align-items: center;
  	justify-content: flex-end;
}

div#headerUserTopNav div#topNavRight a{
	text-decoration: none;
	margin-right: 30px;
	font-size: 12px;
	display: flex;
	align-items: center;
  	justify-content: center;
	color: #535151;
	text-transform: uppercase;
}

div#headerUserTopNav div#topNavRight a:hover{
	filter: brightness(1.4);
}

div#headerUser{
	width: 100%;
	height: 60px;
	background-color: #535151;
	display: flex;
	position: fixed;
	z-index: 1;
	margin-top: 30px;
}

a#liveteeLogo{
	flex: 0.2;
	padding-left: 3%;
	display: flex;
	align-items: center;
  	text-align: center;
  	letter-spacing: 5px;
  	font-weight: bold;
  	text-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
  	background-color: rgba(0, 0, 0, .5);
  	width: 140px;
}

div#headerUser #flexLeft{
	flex: 0.2;
	padding-left: 3%;
	display: flex;
	align-items: center;
  	text-align: center;
  	letter-spacing: 5px;
  	font-weight: bold;
}

div#headerUser #flexLeft a{
	height: 100%;
	display: flex;
	align-items: center;
  	justify-content: center;
}

div#headerUser #flexMiddle{
	flex: .7;
	display: flex;
	align-items: center;
  	justify-content: center;
  	text-align: center;
  	margin: auto;
  	font-style: bold;
}

div#headerUser #flexMiddle form{
	margin-top: 13px;
	width: 100%;
}

div#headerUser #flexMiddle form input[type=text]{
	width: 80%;
	min-width: 100px;
	height: 35px;
	padding: 10px 10px;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: white;
  	color: #535151;
  	border: none;
	transform: translate(0px, -5px);
	font-size: 16px;
}

div#headerUser #flexMiddle form input[type=image]{
	transform: translate(0px, 0px);
	margin-left: -40px;
}

div#headerUser #flexRight1{
	display: flex;
	align-items: center;
  	justify-content: center;
	flex: 0.25;
	font-size: 16px;
}

div#headerUser #flexRight1 img{
	padding-right: 10px;
}

div#headerUser #flexRight1 p, a{
	color: white;
	text-decoration: none;
	transition-duration: .2s;
}

div#headerUser #flexRight1 a:hover{
	filter: brightness(.95);
	transition-duration: .2s;
}

div#headerUser #flexRight2{
	display: flex;
	font-size: 16px;
	align-items: center;
  	justify-content: center;
	flex: 0.25;
	background-color: #757171;
	transition-duration: .2s;
}

div#headerUser #flexRight2 a{
	text-decoration: none;
	width: 100%;
}

div#headerUser #flexRight2 a div#cartDiv{
	display: flex;
	align-items: center;
  	justify-content: center;
	height: 50px;
	background-color: #757171;
	width: 100%;
}

div#headerUser #flexRight2 p{
	color:white;
	padding-left: 10px;
}

div#headerUser #flexRight2:hover{
	filter: brightness(1.05);
	transition-duration: .2s;
}

div#headerUser #flexRight img{
	margin-right: 25px;
	cursor: pointer;
}

div#headerUser #flexRight img:hover{
	opacity: .8;
}

div#header{
	width: 100%;
	height: 50px;
	background-color: #2e4f84;
	display: flex;
	position: fixed;
	z-index: 100;
}

div#header #flexLeft{
	flex: 0.15;
}

div#header #flexMiddle{
	display: flex;
	align-items: center;
  	justify-content: center;
  	text-align: center;
  	margin: auto;
  	color: white;
  	font-style: bold;
}

div#header #flexRight{
	display: flex;
	align-items: center;
  	justify-content: center;
	flex: 0.15;
}

div#header #flexRight img{
	margin-right: 25px;
	cursor: pointer;
}

div#header #flexRight img:hover{
	opacity: .8;
}

hr{
	border: .5px solid #d5d5d6;
	margin: 20px 0;
}

div#userSidebar{
  	position: fixed;
  	top: 80px;
  	margin-top: 30px;
  	margin-left: 3%;	
  	padding: 0;
  	box-sizing: border-box;
  	width: 15%;
  	min-width: 120px;
  	line-height: 1;
}

div#userSidebar a{
	padding-left: 0;
	color: black;
	font-size: 14px;
  	width: 100%;
  	text-align: center;
  	color: #595a5a;
}

div#userSidebar a:hover{
	color: #3d3d3d;
}

div#userSidebar p{
	font-size: 18px;

}

div#userSidebar div#genderSidebar{

}

div#userSidebar div#genderSidebar p{

}

div#userSidebar div#genderSidebar div#genderFlex{
	display: flex;
}

div#userSidebar div#genderSidebar div#genderFlex a{
	height: 40px;
	display: flex;
	align-items: center;
  	justify-content: center;
}

div#userSidebar div#genderSidebar div#gender1{
	display: flex;
	align-items: center;
  	justify-content: center;
	flex: .5;
	box-sizing: border-box;
	margin: 0px 7px;
	border: 1px solid white;
}

div#userSidebar div#genderSidebar div#gender1:hover{
	border: 1px solid lightgrey;
}

div#userSidebar div#genderSidebar div#gender2{
	display: flex;
	align-items: center;
  	justify-content: center;
	flex: .5;
	border: 1px solid #595a5a;
	box-sizing: border-box;
	margin: 0px 7px;
	transition-duration: .2s;
}

div#userSidebar div#genderSidebar div#gender2:hover{
	border: 1px solid lightgrey;
	transition-duration: .2s;
}

div#userSidebar div#collSidebar{

}

div#userSidebar div#clothSidebar{

}

div#sideBar{
	height: 100%;
	width: 200px;
  	min-width: 100px;
  	position: fixed;
  	top: 50px;
  	background-color: rgba(65,69,80,1);
  	padding-top: 20px;	
}

div#sideBar a, .collapse-btn {
  	font-size: 18px;
  	padding: 6px 8px 6px 16px;
  	line-height: 2;
  	margin: 0;
  	text-decoration: none;
  	color: white;
  	display: block;
  	border: none;
  	background: none;
  	text-align: left;
  	cursor: pointer;
  	outline: none;
  	transition-duration: .5s;
}

.focusBar{
	background-color: rgba(255, 255, 255, 0.1);
}

div#sideBar a:hover, .collapse-btn:hover{
	text-shadow: 0px 0px 5px rgba(255, 255, 255, .5);
  	transition-duration: .2s;
}

div#sideBar button{
	font-family: 'Raleway', sans-serif;
	width: 200px;
  	min-width: 100px;
}

div#sideBar button img{
	float: right;
	padding-top: 12px;
	padding-right: 10px;
}

.collapse-item{
  	display: none;
  	background-color: #262626;
  	padding-left: 8px;
}

.notiBox{
	display: none;
	width: 400px;
	height: 500px;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 10;
	top: 50px;
	right: 0;
	overflow-y: scroll;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	font-size: 16px;
}

.notiBox a{
	color: black;
	height: 80px;
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
	background-color: white;
	padding-left: 15px;
	display: flex;
	align-items: center;
	text-decoration: none;
	outline: none;
}

.notiBox a:hover{
	background-color: #f7f7f7;
}

.notiBox .title{
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	height: 40px;
	padding-left: 15px;
}

div#sorting{
	width: 77%;
	min-width: 200px;
	height: 50px;
	position: relative;
	left: 20%;
	top: 110px;
	/*border: 1px solid black;*/
	margin-bottom: 20px;
	display: flex;
	align-items: center;
  	justify-content: flex-end;
}

div#sorting p{
	font-size: 12px;
	padding-right: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

div#sorting select{
	border-color: lightgrey;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	outline: none;
	transition-duration: .2s;
}

div#sorting select:focus{
	border-color: grey;
	transition-duration: .2s;
}

div#sorting select#sortSelect{
}

div#clothing{
	width: 80%;
	min-width: 200px;
	position: relative;
	left: 20%;
	top: 110px;
	/*border: 1px solid red;*/
}

div#clothing a{

}

@media only screen and (max-width: 1000px) {
	div#clothing div.itemMiddle{
		min-width: 33% !important;
	}

	div#clothing{
		left: 25%;
		width: 72%;
	}

	div#sorting{
		left: 25%;
		width: 72%;
	}
}

@media only screen and (max-width: 800px) {
	div#clothing div.itemMiddle{
		min-width: 50% !important;
	}
	
	div#clothing{
		left: 30%;
		width: 67%;
	}

	div#sorting{
		left: 30%;
		width: 67%;
	}
}

@media only screen and (max-width: 500px) {
	div#clothing div.itemMiddle{
		min-width: 100% !important;
	}
	
	div#clothing{
		left: 40%;
		width: 57%;
	}

	div#sorting{
		left: 40%;
		width: 57%;
	}
}


div#clothing div.itemOuter{
	display: flex;
	margin-bottom: 20px;
	box-sizing: border-box;
	/*border: red solid;*/
	flex-wrap: wrap;
}

div#clothing div.itemMiddle{
	height: 320px;
	/*border: 1px solid black;*/
	display: flex;
	flex: .25;
	min-width: 25%;
	align-items: center;
	box-sizing: border-box;
}

div#clothing div.itemInner{
  	width: 90%;
  	height: 100%;
	box-sizing: border-box;
	transition-duration: .2s;
	padding: 3%;
	border: 1px solid white;
}

div#clothing div.itemInnest{
	height: 100%;
}

div#clothing div.itemInner:hover{
	border: 1px solid lightgrey;
}

div#clothing div.itemInner:hover p.sizes{
	opacity: 1;
	transition: opacity .2s;
}

div#clothing div.itemInner img.image{
	margin-bottom: -8px;
}

div#clothing div.itemInner p.price{
	line-height: .6;
	color: #656667;
	font-size: 14px;
}

div#clothing div.itemInner p.desp{
	font-size: 14px;
	color: black;
}

div#clothing div.itemInner p.sizes{
	color: black;
	font-size: 12px;
	text-align: right;
	word-spacing: 5px;
	font-weight: bold;
	padding-right: 10px;
	opacity: 0;
	transition: opacity .2s;
}

div#clothing div.itemInnest div.slideUpOuter{
	position: relative; 
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: blue;	
} 

div#clothing div.itemInnest div.slideUpInner{
	position: absolute; 
	bottom: -50px; 
	width: 100%;
	background-color: rgba(255, 255, 255, .9); 
	height: 50px; 
	display: flex;
	align-items: center;
  	justify-content: center;
	transition: .2s ease-in-out;
}

div#clothing div.itemInnest div.slideUpInner p{
	color: black;
	font-size: 14px;
	margin: 0;
}

div#clothing div.itemInner:hover div.slideUpInner{
	bottom: 0;
	transition: .2s ease-in-out;
}

h1#content_header{
	position: absolute;
	left: 18%;
	top: 47px;
	font-size: 20px;
	font-family: Lato;
}

h1#content_header.firstLogin{
	left: 2%;
}

div#content_container{
	position: absolute;
	left: 18%;
	top: 100px;
	border-radius: 2px;
	background-color: white;
	width: 80%;
	padding: 10px 3%;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-size: 16px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	color: black;
}

div#content_container.firstLogin{
	left: 2%;
	width: 50%;
	min-width: 350px;
}

div#content_container label{
	width: 200px;
	display: inline-block;
}

input.contentInput, textarea.contentInput{
	border: 1px solid black;
	border-radius: 2px;
	background-color: transparent;
	box-sizing: border-box;
	min-width: 250px;
	width: 40%;
	padding: 5px 10px;
	color: black;
	font-size: 16px;
	margin-bottom: 0;
	transition-duration: .2s;
	border-color: grey;
	font-family: 'Lato';
}

input.contentInput[name=iprice]{
	width: 15%;
	min-width: 100px;
}

textarea.contentInput[name=idescription]{
	width: 100%;
}

.fullWidth{
	width: 100%;
	padding-bottom: 10px;
}

div#content_container label.cboLbl{
	width: 7%;
	border: 1px solid lightgrey;
	text-align: center;
}

div#content_container label.statusLbl{
	width: 15%;
	border: 1px solid lightgrey;
	text-align: center;
}

div#content_container label.cboLbl:hover, div#content_container label.statusLbl:hover{
	cursor: pointer;
	border: 1px solid black;
}

div#content_container input[type=checkbox]{
	/*display: none;*/
}

div#content_container input[type=file]{
	border: none;
	padding: 0;
}

div#content_container input[type=checkbox]:checked div#content_container label.cboLbl{
	border: 1px solid black;
	width: 200px;
}

textarea.contentInput{
	box-sizing: border-box;
	resize: inherit;
	height: 150px;
	width: 100%;
	min-width: 250px;
}

input.contentInput:focus, textarea.contentInput:focus{
	border-color: lightgrey;
	transition-duration: .2s;
	outline: none;
}

p#redirectText{
	display: none;
}

div#content_container select{
	border-color: black;
	border-radius: 2px;
	padding: 5px;
	font-family: 'Raleway', sans-serif;
	transition-duration: .2s;
	border-color: grey;
	width: 100px;
}

div#content_container select:focus{
	outline: none;
	border-color: lightgrey;
	transition-duration: .2s;
}

input.contentSubmit{
	background-color: #2e4f84;
	border: none;
	color: white;
	border-radius: 0px;
	width: 200px;
	min-width: 100px;
	box-sizing: border-box;
	padding: 9px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: .5s;
	margin-top: 10px;
	font-size: 16px;
}

input.contentSubmit:hover{
	background-color: #345d9e;
	transition-duration: .3s;
	cursor: pointer;
}

